ion-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

ion-content ion-card {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;

	ion-img {
		margin-top: 15px;
		margin-bottom: 15px;
		height: 150px;
	}

	ion-text {
		font-size: 14px;
		margin: 15px 0;

		strong {
			display: block;
			font-size: 18px;
			margin-bottom: 10px;
		}
	}
}
