<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>

		<ion-title>{{ title }}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div>
		<p>Tomate um pouco menor que o convencional e de sabor mais adocicado.</p>

		<img src="assets/imgs/tomate_cereja.jpg" alt="tomate">

		<strong>Como Realizar o Plantio</strong>

		<p>Deixe a terra bem fofa e faça pequenos furos com o dedo.</p>

		<p>Insira as sementes e polvilhe a terra por cima.</p>

		<img src="assets/imgs/buraco_na_terra.png" alt="buraco na terra">

		<p>Até as mudas nascerem e estiverem pequenas regue uma vez ao dia pela manhã. Quando o tomateiro estiver mais firme regue três vezes por semana.</p>

		<img src="assets/imgs/muda_tomate.png" alt="muda de tomate">

		<p>Até as mudas nascerem e estiverem pequenas regue uma vez ao dia pela manhã. Quando o tomateiro estiver mais firme regue três vezes por semana.</p>

		<img src="assets/imgs/regador.png" alt="regador">

		<p>O caule do tomateira não suporta o próprio peso, coloque uma estaca na terra e conforme ele for crescendo amarre para dar sustentação.</p>

		<img src="assets/imgs/sustentacao.png" alt="sustentacao">

		<p>O tomate cereja deverá receber ao menos 4 horas diárias de sol.</p>

	</div>
</ion-content>
