<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>

		<ion-title>{{ planta ? planta.nome : "Tutorial" }}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-content>
			<ion-text>Tomate um pouco menor que o convencional e de sabor mais adocicado.</ion-text>
			<ion-img src="assets/imgs/tomate_cereja.jpg" alt="Tomate"></ion-img>

			<ion-text>
				<strong>Como Realizar o Plantio</strong>
			</ion-text>

			<ion-text>Deixe a terra bem fofa e faça pequenos furos com o dedo.</ion-text>
			<ion-text>Insira as sementes e polvilhe a terra por cima.</ion-text>
			<ion-img src="assets/imgs/tutorial_tomate/buraco_na_terra.png" alt="Buraco na terra"></ion-img>

			<ion-text>Até as mudas nascerem e estiverem pequenas regue uma vez ao dia pela manhã. Quando o tomateiro estiver mais firme regue três vezes por semana.</ion-text>
			<ion-img src="assets/imgs/tutorial_tomate/muda_tomate.png" alt="Muda de tomate"></ion-img>

			<ion-text>Até as mudas nascerem e estiverem pequenas regue uma vez ao dia pela manhã. Quando o tomateiro estiver mais firme regue três vezes por semana.</ion-text>
			<ion-img src="assets/imgs/tutorial_tomate/regador.png" alt="Regador"></ion-img>

			<ion-text>O caule do tomateira não suporta o próprio peso, coloque uma estaca na terra e conforme ele for crescendo amarre para dar sustentação.</ion-text>
			<ion-img src="assets/imgs/tutorial_tomate/sustentacao.png" alt="Sustentação"></ion-img>

			<ion-text>O tomate cereja deverá receber ao menos 4 horas diárias de sol.</ion-text>
		</ion-card-content>
	</ion-card>
</ion-content>
