<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>

		<ion-title>Como Plantar</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-buttons (onclick)="tutorial()" class="item">
		<img src="assets/imgs/tomate_cereja.jpg" alt="product">
		<div class="item-description">
			<strong>Tomate Cereja</strong>
			<p>Excelente para plantar em vasos pequenos</p>
		</div>
	</ion-buttons>

	<ion-buttons class="item">
		<img src="assets/imgs/hortela.jpeg" alt="product">
		<div class="item-description">
			<strong>Hortelã</strong>
			<p>Erva de aroma único e acrescenta uma mistura de frescor aos pratos</p>
		</div>
	</ion-buttons>

	<ion-buttons class="item">
		<img src="assets/imgs/alface.png" alt="product">
		<div class="item-description">
			<strong>Alface</strong>
			<p>A alface é uma das folhas mais fáceis de se plantar dentro de casa</p>
		</div>
	</ion-buttons>

</ion-content>
