<ion-header>
	<ion-toolbar>
		<ion-title>Login</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content scroll="false">
	<div class="logo">
		<img src="assets/imgs/Logo.png" />
	</div>

	<div class="ion-padding pt-0 form-container">
		<form (submit)="login()" #formulario="ngForm" [formGroup]="loginForm">
			<ion-item>
				<ion-input name="email" type="email" formControlName="email" placeholder="Digite seu e-mail" autofocus="true"></ion-input>
			</ion-item>
			<input-error [show]="!loginForm.controls.email.valid && submitAttempt">
				Por favor, digite um e-mail válido.
			</input-error>

			<ion-item>
				<ion-input name="senha" type="password" formControlName="senha" placeholder="Digite sua senha"></ion-input>
			</ion-item>
			<input-error [show]="!loginForm.controls.senha.valid && submitAttempt">
				Este campo é obrigatório.
			</input-error>

			<div class="login-btn pl-0">
				<button type="submit" class="hidden">.</button>
				<ion-button expand="block" type="submit" size="large">ENTRAR</ion-button>
			</div>
		</form>
	</div>
</ion-content>
