<ion-app>
	<ion-split-pane contentId="main-content">
		<ion-menu contentId="main-content" type="overlay" (ionWillOpen)="ionWillOpen()" *ngIf="!isLoginPage">
			<ion-header>
				<ion-toolbar>
					<ion-title>Ceres</ion-title>
				</ion-toolbar>
			</ion-header>
			<ion-content class="no-padding">
				<div id="cabecalho-menu" class="cabecalho-menu">
					<div>
						<ion-avatar>
							<ion-icon name="person-circle-outline"></ion-icon>
						</ion-avatar>
					</div>
					<span *ngIf="usuarioLogado">
						<h2 class="truncate">Bem vindo!</h2>
						<p class="truncate">{{ usuarioLogado.email }}</p>
					</span>
				</div>

				<hr>

				<ion-list id="inbox-list">
					<ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
						<ion-item (click)="selectedIndex = i" [routerDirection]="p.direction"
								  [routerLink]="[p.url]" lines="none"
								  detail="false" [class.selected]="selectedIndex == i">
							<ion-icon slot="start" [name]="p.icon + '-outline'"></ion-icon>
							<ion-label>{{ p.title }}</ion-label>
						</ion-item>
					</ion-menu-toggle>

					<ion-menu-toggle auto-hide="false" *ngIf="usuarioLogado">
						<ion-item (click)="logout()" routerDirection="root"
								  [routerLink]="['login']" lines="none" detail="false">
							<ion-icon slot="start" name="exit-outline"></ion-icon>
							<ion-label>Logout</ion-label>
						</ion-item>
					</ion-menu-toggle>

					<ion-list-header>Informações</ion-list-header>

					<ion-menu-toggle auto-hide="false" *ngFor="let info of informacoes">
						<ion-item (click)="openInfo(info)" routerDirection="root"
								  [routerLink]="[]" lines="none" detail="false">
							<ion-icon slot="start" name="bookmark-outline"></ion-icon>
							<ion-label>{{ info }}</ion-label>
						</ion-item>
					</ion-menu-toggle>

					<ion-list-header>Compartilhamento</ion-list-header>

					<div class="btns">
						<ion-button expand="block" shape="undefined">
							<img src="assets/imgs/vegetabals_icon.png" slot="start"> Meus Produtos
						</ion-button>
						<ion-button expand="block" shape="undefined">
							<ion-icon name="hammer-outline" slot="start"></ion-icon> Meus Serviços
						</ion-button>
						<ion-button expand="block" shape="undefined">
							<ion-icon name="search-outline" slot="start"></ion-icon> Buscar
						</ion-button>
					</div>
				</ion-list>
			</ion-content>
		</ion-menu>
		<ion-router-outlet id="main-content"></ion-router-outlet>
	</ion-split-pane>
</ion-app>


