ion-card {
	margin-top: 0;
	min-height: 80%;
	--background: #E79B27;

	ion-card-content {
		padding: 10px;
	}
}

ion-card ion-card-header ion-card-title, ion-card ion-card-content {
	--color: white;
	color: white;
}

ion-col ion-card {
	margin: 0;
	width: 100%;
	padding-top: 130%;
	display: inline-block;
	color: white;
	--background: #BF4343 !important;
	--background-hover: #AF3333 !important;
	--background-activated: #9F2323 !important;

	div {
		position: absolute;
		top: 5px;
		right: 0;
		bottom: 0;
		left: 0;
		text-align: center;

		img {
			height: 52%;
		}

		ion-card-header {
			padding: 0;

			ion-card-title {
				font-size: small;
				text-transform: unset;
				margin-top: -3px;
			}

			ion-card-subtitle {
				background: #f8ba29;
				padding: 3px 0;
				color: white;
				margin-top: 3px;
			}
		}
	}
}
